/* Sprites */

.sprites {
	z-index: 0;
	background-color: #BEEAFB;
	height: 100vh;
	width: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
}

.cloud-one {
	background-image: url('images/cloud-one.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 8vw;
	height: 4.8vw;
	display: block;
	position: absolute;
	top: 8vw;
	animation-name: clouds;
	animation-duration: 48s;
	animation-fill-mode: both;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.cloud-two {
	background-image: url('images/cloud-two.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 10vw;
	height: 4vw;
	display: block;
	position: absolute;
	top: 15vw;
	animation-name: clouds;
	animation-duration: 42s;
	animation-fill-mode: both;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-delay: -4s;
}

.cloud-three {
	background-image: url('images/cloud-three.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 15vw;
	height: 6.75vw;
	display: block;
	position: absolute;
	top: 14vw;
	animation-name: clouds;
	animation-duration: 40s;
	animation-fill-mode: both;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-delay: 2s;
}

/* Houses */
.house-one {
	display: block;
	background-image: url('images/house-one.png');
	background-repeat: no-repeat;
	background-position: 50% 100%;
	background-size: contain;
	position: absolute;
	z-index: 20;
	width: 100vw;
	height: 30vh;
	bottom: 10vh;
	left: 0;
}

.house-two {
	display: block;
	background-image: url('images/house-two.png');
	background-repeat: no-repeat;
	background-position: 50% 100%;
	background-size: contain;
	position: absolute;
	z-index: 20;
	width: 100vw;
	height: 30vh;
	bottom: 10vh;
	left: 100vw;
}

.house-three {
	display: block;
	background-image: url('images/house-three.png');
	background-repeat: no-repeat;
	background-position: 50% 100%;
	background-size: contain;
	position: absolute;
	z-index: 20;
	width: 100vw;
	height: 35vh;
	bottom: 10vh;
	left: 200vw;
}

.house-four {
	display: block;
	background-image: url('images/house-four.png');
	background-repeat: no-repeat;
	background-position: 50% 100%;
	background-size: contain;
	position: absolute;
	z-index: 20;
	width: 100vw;
	height: 35vh;
	bottom: 10vh;
	left: 300vw;
}

.house-seven {
	display: block;
	background-image: url('images/house-seven.png');
	background-repeat: no-repeat;
	background-position: 50% 100%;
	background-size: contain;
	position: absolute;
	z-index: 20;
	width: 100vw;
	height: 80vh;
	bottom: 9vh;
	left: 420vw;
}

.road {
	display: block;
	position: absolute;
	width: 800vw;
	bottom: 0;
	height: 10vh;
	z-index: 10;
	background-color: black;
	background-repeat: repeat-x;
	background-size: 10vw 100%;
	background-image: url('images/road.png');
}

// Vehicles

.yacht {
	display: block;
	background-image: url('images/yacht.png');
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-size: 100% 100%;
	position: absolute;
	width: 6vw;
	height: 5vw;
	left: 680vw;
	bottom: 10vh;
	z-index: 30;
}

.car {
	display: block;
	background-image: url('images/yaris.png');
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-size: 100% 100%;
	position: absolute;
	width: 10vw;
	height: 6vw;
	left: 60vw;
	bottom: 6vh;
	z-index: 30;
}

.porsche {
	display: block;
	background-image: url('images/porsche.png');
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-size: 100% 100%;
	position: absolute;
	width: 14vw;
	height: 6vw;
	left: 260vw;
	bottom: 6vh;
	z-index: 30;
}

.limo {
	display: block;
	background-image: url('images/limo.png');
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-size: 100% 100%;
	position: absolute;
	width: 15vw;
	height: 4vw;
	left: 450vw;
	bottom: 6vh;
	z-index: 30;
}

// Street keyframing
.street {
	display: block;
	position: absolute;
	height: 400px;
	width: 300%;
	bottom: 0;
	left: 0;
	transition: left 1.6s ease-out;
}

.street.second {
	left: -100vw;
}

.street.third {
	left: -200vw;
}

.street.fourth {
	left: -300vw;
}

.street.fifth {
	left: -400vw;
}

.street.sixth {
	left: -500vw;
}

.street.seventh {
	left: -600vw;
}

// Background parallax
.background {
	display: block;
	height: 50vh;
	background-image: url('images/background.png');
	background-repeat: repeat-x;
	background-size: auto 100%;
	position: absolute;
	width: 400vw;
	bottom: 9vh;
	transition: left 1.6s ease-in-out;
}

.background.second {
	left: -10vw;
}

.background.third {
	left: -20vw;
}

.background.fourth {
	left: -30vw;
}

.background.fifth {
	left: -40vw;
}

.background.sixth {
	left: -50vw;
}

.background.seventh {
	left: -60vw;
}


// Animation keyframing
@keyframes car {
	0% {
		left: 120vw;
		bottom: 6vh;
		transform: scaleX(1);
	}

	20% {
		left: 50vw;
		bottom: 6vh;
		transform: scaleX(1);
	}

	25% {
		left: 50vw;
		bottom: 6vh;
		transform: scaleX(1);
	}

	40% {
		left: -25vw;
		bottom: 6vh;
		transform: scaleX(1);
	}

	45% {
		left: -25vw;
		bottom: 2vh;
		transform: scaleX(-1);
	}

	50% {
		left: -25vw;
		bottom: 2vh;
		transform: scaleX(-1);
	}

	100% {
		left: 120vw;
		bottom: 2vh;
		transform: scaleX(-1);
	}
}

@keyframes clouds {
	0% {
		left: -300px;
	}

	100% {
		left: 120vw;
	}
}